<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="tests/bootstrap.php" colors="true">
	<testsuites>
		<testsuite name="Tests">
			<directory>tests</directory>
		</testsuite>
	</testsuites>

	<php>
		<env name="JOOMLA_TEST_DB_DRIVER" value="mysql" />
		<env name="JOOMLA_TEST_DB_HOST" value="mysql" />
		<env name="JOOMLA_TEST_DB_DATABASE" value="test_joomla" />
		<env name="JOOMLA_TEST_DB_USER" value="joomla_ut" />
		<env name="JOOMLA_TEST_DB_PASSWORD" value="joomla_ut" />
		<env name="JOOMLA_TEST_DB_PREFIX" value="jstats_" />
	</php>

	<logging>
		<log type="coverage-html" target="build/coverage" lowUpperBound="35" highLowerBound="70" />
	</logging>

	<filter>
		<whitelist addUncoveredFilesFromWhitelist="true">
			<directory suffix=".php">src</directory>
		</whitelist>
	</filter>
</phpunit>
