name: PHP Composer

on:
  push:
  schedule:
    # * is a special character in YAML so you have to quote this string
    # Runs every day at 00:00
    - cron:  '0 0 * * *'

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2

    - name: Validate composer.json and composer.lock
      run: composer validate --strict

    - name: Cache Composer packages
      id: composer-cache
      uses: actions/cache@v2
      with:
        path: vendor
        key: ${{ runner.os }}-php-${{ hashFiles('**/composer.lock') }}
        restore-keys: |
          ${{ runner.os }}-php-

    - name: Install dependencies
      run: composer install --prefer-dist --no-progress --no-suggest

    - name: Update PHP versions.json
    - run: php bin/stats tags:php
    
    - name: Save the artifacts to the main repo
    - uses: stefanzweifel/git-auto-commit-action@v4.9.2
      with:
        commit_message: Adding back the json created...
        branch: ${{ github.head_ref }}

    # Add a test script to composer.json, for instance: "test": "vendor/bin/phpunit"
    # Docs: https://getcomposer.org/doc/articles/scripts.md

    # - name: Run test suite
    #   run: composer run-script test
